* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fbe6cc;
    border: 25px solid #a02a2a;
}

header {
    background-color: #00d4ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 10px solid #a02a2a;
}

main {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
    color: #555;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}